@import "../../App";
.articleDM{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  //background-color: red;
  //justify-content: space-between;

}

.articles {
  margin-left: 10px;
  margin-top: 10px;
  height: 270px;
  width: 300px;


  img:nth-child(3n+1) {
    clear: left;
    width: 300px;
    height: 180px;
  }

  a {
    width: 100%;
    color: $text-black;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transition: 0.4s;
    display: flex;

    &:hover {
      color: $primary-color;
    }
  }

  .title {
    width: 100%;
    display: block;
    margin-top: 10px;
  }

  .decription {
    margin-top: 70px;
  }
}